@if (isLoading$ | async){
  <app-loading></app-loading>
} @else {
  <div class="overall">

    <div class="skeleton">
      <mat-icon class="back-button" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
      <div class="heading"> <h1>Listing editor</h1></div>
      <div class="image-collection">
        <div class="title"> <h2>Photo tour</h2></div>
        <div class="guide"> <h3>Please add at least 4 photos to help guests learn more about your accommodation</h3></div>
        <div class="images">
          <ng-container *ngFor="let img of uploadedImages; let i = index">
            <div class="img-wrapper">
              <img class="upload-img" [src]="img" alt="Uploaded image {{i+1}}">
              <button class="delete-img-btn" (click)="removeImage(i)" type="button">
                <mat-icon fontIcon="close"></mat-icon>
              </button>
            </div>
          </ng-container>
          <div class="add-img" (click)="fileInput.click()">
            <input type="file" multiple accept="image/*" (change)="onFileSelected($event)" style="display:none" #fileInput>
            <mat-icon aria-hidden="false" aria-label="Add image" fontIcon="add" ></mat-icon>
          </div>
        </div>
      </div>

      <div class="second">
        <div class="second-left">
          <div class="title-l"> <h2>Title</h2></div>
          <div class="guide-l"> <h3>Name the accommodation you are offering for rent</h3></div>
          <form class="second-left-container" [formGroup] = roomForm>
            <mat-form-field class="second-left-input" appearance="fill">
              <mat-label>Enter the Title</mat-label>
              <input matInput placeholder="Ex: Muong Thanh Hotel" formControlName="title" >
            </mat-form-field>
          </form>
        </div>
        <div class="second-right">
          <div class="title-r"> <h2>Type</h2></div>
          <div class="guide-r"> <h3>Please describe the type of property you are renting out</h3></div>
          <div class="second-right-container">
            <mat-form-field class="second-right-select">
              <mat-label>Choosing type</mat-label>
              <mat-select>
                @for (food of foods; track food) {
                  <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="third">
        <div class="title"> <h2>Description</h2></div>
        <div class="guide"> <h3>Name the accommodation you are offering for rent</h3></div>
        <form class="third-container" [formGroup] = roomForm>
          <mat-form-field class="third-input" appearance="fill">
            <mat-label>Describe Your Accommodation</mat-label>
            <input matInput placeholder="Ex: A wonderful place on beautiful islands" formControlName="description" >
          </mat-form-field>
        </form>
      </div>

      <div class="fifth">
        <div class="box-one">
          <h3>Guest</h3>
          <div class="guest-control">
            <button mat-icon-button (click)="decrementGuests()" [disabled]="Guests <= 1">
              <mat-icon>remove</mat-icon>
            </button>
            <span class="guest-value">{{ Guests }}</span>
            <button mat-icon-button (click)="incrementGuests()" [disabled]="Guests >= 20">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="box-two">
          <h3>Rooms</h3>
          <div class="rooms-control">
            <button mat-icon-button (click)="decrementRooms()" [disabled]="Rooms <= 1">
              <mat-icon>remove</mat-icon>
            </button>
            <span class="rooms-value">{{ Rooms }}</span>
            <button mat-icon-button (click)="incrementRooms()" [disabled]="Rooms >= 20">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="box-three">
          <h3>Beds</h3>
          <div class="beds-control">
            <button mat-icon-button (click)="decrementBeds()" [disabled]="Beds <= 1">
              <mat-icon>remove</mat-icon>
            </button>
            <span class="beds-value">{{ Beds }}</span>
            <button mat-icon-button (click)="incrementBeds()" [disabled]="Beds >= 20">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="box-four">
          <h3>Bathrooms</h3>
          <div class="bathrooms-control">
            <button mat-icon-button (click)="decrementBathrooms()" [disabled]="Bathrooms <= 1">
              <mat-icon>remove</mat-icon>
            </button>
            <span class="bathrooms-value">{{ Bathrooms }}</span>
            <button mat-icon-button (click)="incrementBathrooms()" [disabled]="Bathrooms >= 20">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </div>
      <div class="sixth">
        <div class="title"> <h2>Price per night</h2></div>
        <div class="guide"> <h3>Please set the rules for your rental property</h3></div>
        <div class="slider-container">
          <div class="price-value-row">
            <label class="example-value-label">{{formatPrice(Number(value))}}</label>
            <label id="example-name-label" class="example-name-label">VNĐ</label>
          </div>
          <mat-slider
            class="example-margin"
            [disabled]="disabled"
            [max]="max"
            [min]="min"
            [step]="step"
            [discrete]="thumbLabel"
            [showTickMarks]="showTicks"
            (input)="onPriceSliderChange($event)">
            <input matSliderThumb [(ngModel)]="value" />
          </mat-slider>
        </div>

      </div>
      <div class="fourth">
        <div class="title"> <h2>Location</h2></div>
        <div class="guide"> <h3>The address of your accommodation so that guests can easily find it</h3></div>
        <form class="fourth-container" [formGroup]="roomForm">
          <div class="address-inputs">

            <div class="address-input-group">
              <mat-icon class="input-icon">location_city</mat-icon>
              <mat-select
                formControlName="city"
                placeholder="Chọn thành phố"
                (selectionChange)="onCityChange($event.value)"
                (keydown.enter)="onSelectEnter($event)"
                class="address-select">
                <mat-option *ngFor="let city of cities" [value]="city">
                  {{ city }}
                </mat-option>
              </mat-select>
            </div>


            <!-- Quận/Phường/Huyện -->
            <div class="address-input-group">
              <mat-icon class="input-icon">location_city</mat-icon>
              <mat-select
                formControlName="location"
                placeholder="Chọn quận/huyện"
                (selectionChange)="onDistrictChange($event.value)"
                (keydown.enter)="onSelectEnter($event)"
                class="address-select">
                <mat-option *ngFor="let district of availableDistricts" [value]="district">
                  {{ district }}
                </mat-option>
              </mat-select>
            </div>


            <div class="address-input-group">
              <mat-icon class="input-icon">place</mat-icon>
              <input
                matInput
                formControlName="address"
                placeholder="Nhập địa chỉ chi tiết (số nhà, tên đường)"
                class="address-input"
                (blur)="searchAddress()"
                (keydown.enter)="onAddressEnter($event)">
            </div>

            <div class="map-background">
              <google-map
                width ="100%"
                height="500px"
                [center]="mapCenter"
                [zoom]="mapZoom"
                [options]="{
                  mapTypeControl: false,
                  streetViewControl: false,
                  fullscreenControl: false,
                  zoomControl: true,
                  scrollwheel: false,
                  styles: [
                    {
                      featureType: 'poi',
                      elementType: 'labels',
                      stylers: [{ visibility: 'off' }]
                    }
                  ]
                }"
                (mapClick)="onMapClick($event)"
              >

                <!-- Marker -->
                <map-marker
                  *ngIf="markerPosition"
                  [position]="markerPosition"
                  [draggable]="true"
                  (mapDragend)="onMarkerDragEnd($event)"
                  title="Vị trí chỗ ở của bạn">
                </map-marker>
              </google-map>

            </div>
          </div>
        </form>
        <div

          class="lastest-button">
          <button
            class="confirm-button" (click)="updateRoom()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

}
