<div class="overall">

  <div class="skeleton">
    <mat-icon class="back-button" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
    <div class="heading"> <h1>Listing editor</h1></div>
    <div class="image-collection">
      <div class="title"> <h2>Photo tour</h2></div>
      <div class="guide"> <h3>Please add at least 4 photos to help guests learn more about your accommodation</h3></div>
      <div class="images">
        <img class="upload-img" src="/img/truong-thpt-chau-thanh-ba-ria-vung-tau.jpg">
        <img class="upload-img" src="/img/truong-thpt-chau-thanh-ba-ria-vung-tau.jpg">
        <img class="upload-img" src="/img/truong-thpt-chau-thanh-ba-ria-vung-tau.jpg">
        <img class="upload-img" src="/img/truong-thpt-chau-thanh-ba-ria-vung-tau.jpg">
        <div class="add-img"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon> </div>
      </div>
    </div>

    <div class="second">
      <div class="second-left">
        <div class="title-l"> <h2>Title</h2></div>
        <div class="guide-l"> <h3>Name the accommodation you are offering for rent</h3></div>
          <form class="second-left-container">
            <mat-form-field class="second-left-input" appearance="fill">
              <mat-label>Enter the Title</mat-label>
              <input matInput placeholder="Ex: Muong Thanh Hotel" >
            </mat-form-field>
          </form>
      </div>
      <div class="second-right">
        <div class="title-r"> <h2>Type</h2></div>
        <div class="guide-r"> <h3>Please describe the type of property you are renting out</h3></div>
        <div class="second-right-container">
          <mat-form-field class="second-right-select">
            <mat-label>Choosing type</mat-label>
            <mat-select>
              @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="third">
      <div class="title"> <h2>Discription</h2></div>
      <div class="guide"> <h3>Name the accommodation you are offering for rent</h3></div>
      <form class="third-container">
        <mat-form-field class="third-input" appearance="fill">
          <mat-label>Describe Your Accommodation</mat-label>
          <input matInput placeholder="Ex: A wonderful place on beautiful islands" >
        </mat-form-field>
      </form>
    </div>
    <div class="fourth">
      <div class="title"> <h2>Location</h2></div>
      <div class="guide"> <h3>The address of your accommodation so that guests can easily find it</h3></div>
      <form class="fourth-container">
        <mat-form-field class="fourth-input" appearance="fill">
          <mat-label>Describe Your Accommodation</mat-label>
          <input matInput placeholder="Ex: Address, City, Ward, Street,.." >
        </mat-form-field>
      </form>
    </div>
    <div class="fifth">
        <div class="box-one">
          <h3>Guest</h3>
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="Length" type="number" [(ngModel)]="Guests">
          </mat-form-field>
        </div>
      <div class="box-two">
        <h3>Rooms</h3>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Length" type="number" [(ngModel)]="Rooms">
        </mat-form-field>
      </div>
      <div class="box-three">
        <h3>Beds</h3>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Length" type="number" [(ngModel)]="Beds">
        </mat-form-field>
      </div>
      <div class="box-four">
        <h3>Bathrooms</h3>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Length" type="number" [(ngModel)]="Bathrooms">
        </mat-form-field>
      </div>

    </div>
    <div class="sixth">
      <div class="title"> <h2>Price per night</h2></div>
      <div class="guide"> <h3>Please set the rules for your rental property</h3></div>

      <div class="slider-container">
        <div class="example-label-container">
          <label id="example-name-label" class="example-name-label">$</label>
          <label class="example-value-label">{{slider.value}}</label>
        </div>
        <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [max]="max"
          [min]="min"
          [step]="step"
          [discrete]="thumbLabel"
          [showTickMarks]="showTicks">
          <input matSliderThumb [(ngModel)]="value" #slider>
        </mat-slider>
      </div>

    </div>
  </div>
</div>
