
<!--<app-loading></app-loading>-->



<!--<div class="cards">-->
<!--  @for (item of dummyHotel; track $index) {-->
<!--    <app-card [hotel]="item" ></app-card>-->
<!--  }-->
<!--</div>-->



<div class="carousel-container">
  <div class="nav-buttons">
    <div class="place">
      Thành Phố Đà Lạt
      <mat-icon>chevron_right</mat-icon>
    </div>


    <div class="director-buttons">
      <button mat-icon-button class="scroll-btn scroll-left" (click)="scroll('left')" [disabled]="currentPosition === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>
      <button mat-icon-button class="scroll-btn scroll-right" (click)="scroll('right')" [disabled]="currentPosition >= maxPosition">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="carousel-track" #carouselFirstTrack>
    @for (item of dummyHotel; track $index) {
      <app-card [hotel]="item"></app-card>
    }
  </div>


  <div class="nav-buttons">
    <div class="place">Thành Phố Hà Nội <mat-icon>chevron_right</mat-icon></div>
    <div class="director-buttons">
      <button mat-icon-button class="scroll-btn scroll-left" (click)="scrollSecond('left')" [disabled]="currentPositionSecond === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button class="scroll-btn scroll-right" (click)="scrollSecond('right')" [disabled]="currentPositionSecond >= maxPosition">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
  <div class="carousel-track" #carouselSecondTrack>
    @for (item of dummyHotel; track $index) {
      <app-card [hotel]="item"></app-card>
    }
  </div>



<div class="nav-buttons">
  <div class="place">Thành Phố Hồ Chí Minh <mat-icon>chevron_right</mat-icon></div>
  <div class="director-buttons">
    <button mat-icon-button class="scroll-btn scroll-left" (click)="scrollThird('left')" [disabled]="currentPositionThird === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button class="scroll-btn scroll-right" (click)="scrollThird('right')" [disabled]="currentPositionThird >= maxPosition">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

</div>
<div class="carousel-track" #carouselThirdTrack>
  @for (item of dummyHotel; track $index) {
    <app-card [hotel]="item"></app-card>
  }
</div>


  <div class="nav-buttons">
    <div class="place">Thành Phố Đà Nẵng <mat-icon>chevron_right</mat-icon></div>
    <div class="director-buttons">
      <button mat-icon-button class="scroll-btn scroll-left" (click)="scrollFourth('left')" [disabled]="currentPositionFourth === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button class="scroll-btn scroll-right" (click)="scrollFourth('right')" [disabled]="currentPositionFourth >= maxPosition">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
  <div class="carousel-track" #carouselFourthTrack>
    @for (item of dummyHotel; track $index) {
      <app-card [hotel]="item"></app-card>
    }
  </div>

</div>
