
<div class="total">
  <img class="welcome-image" src="/img/Welcome%20image%202.png">

<div class="main">
  <img class="welcome-logo" src="/img/dimora-tach-nen.png">
  <p>Chào mừng bạn đến với Dimora</p>
        <div class="example-button-row"  >
          <button mat-flat-button mat-dialog-close (click)="login()">
            <div class="logo-login">
              <img class="google-icon" src="/img/google-logo-3.png">
              Đăng nhập với Google
            </div>
          </button>
      </div>
</div>

</div>
