

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
 }


.google-icon{
  height: 24px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 8px;

  mat-icon {
    color: var(--on-surface);
  }
}

.example-button-row{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}




.logo-login{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.welcome-image{
  height: 400px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0;

  mat-icon {
    color: var(--on-surface);
  }
}


.total{
  display: flex;
  flex-direction: row-reverse;
  width: 800px;
  justify-content: flex-end;
  overflow: clip;
}

.welcome-logo{
  height: 200px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 8px;

  mat-icon {
    color: var(--on-surface);
  }
}
