<div class="page">
  <div class="total-outline">
    <div class="left-outline">
          <div class="user-information">
            <div class="header">
                User Information
            </div>
            <div class="title">
              "Please complete all required information to confirm your reservation."
            </div>
             <div class="name-box">
              <mat-form-field>
                <mat-label>Full name</mat-label>
                <input matInput>
              </mat-form-field>
              </div>

            <div class="note">
              "Please use letters only (A–Z), without titles, special characters, or punctuation."
            </div>

            <div class="email">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
             
            </div>
            <div class="email-note">
              *Sample: Dimora&#64;gmail.com
            </div>
            <div class="phone">
              <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput>
              </mat-form-field>
              
            </div>
            <div class="phone-number-note">
              Example: +62812345678, consisting of the country code (+62) and the mobile number 0812345678
            </div>

         

            <div class="booking-button">
              <button mat-flat-button  class="continue-button">
                Countinue to payment
              </button>
            </div>

          </div>
    </div>

    <div class="right-outline">
      <div class="booking-confirm">
          <div class="hotel-information">
            <div class="name-loca">
              <div class="name">
                THPT Chau Thanh
              </div>
              <div class="location">
              124 27/4 phuong Ba Ria, TPHCM
              </div>
            </div>
            <div class="star">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </div>
          </div>
        <div class="hotel-image-container">
          <img class="hotel-image" src="/img/truong-thpt-chau-thanh-ba-ria-vung-tau.jpg">
        </div>
        <div class="first-line-container">
          <div class="first-line"></div>
        </div>
        <div class="bottom">
          <div class="time-container">
            <div class="left-time-container">
              <h4>Check-in Date</h4>
              <mat-chip >28/08/2025</mat-chip>
            </div>
           
            <div class="right-time-container">
              <h4>Check-out Date</h4>
              <mat-chip >30/08/2025</mat-chip>
            </div>

          </div>

        </div>
        <div class="second-line-container">
          <div class="second-line"></div>
        </div>
        <div class="people-number">
          <div class="left-people-number">
            <h4 class="number-title">Number of Guests</h4>
            <mat-chip >4 Aldults</mat-chip>
          </div>
          <div class="right-people-number">
            <mat-chip class="kids">30 Children</mat-chip>
          </div>
        </div>
        <div class="second-line-container">
          <div class="second-line"></div>
        </div>
        <div class="cost-information">
          <div class="cost-detail">
              <h5>Price Details</h5>
              <h3>Price per Night: 987.000 VNĐ</h3>
              <h3>Total Price: 2.934.000 VNĐ (cho 3 đêm) </h3>
              <h3>Tax: 10%</h3>
              <h3>Discount giá:100.000 VNĐ</h3>
              <h1>Total Amount Payable: 2.540.600 VNĐ</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

